$family: 'Roboto',
sans-serif;

body {
    font-family: $family;
    background-color: #C9FFEF;
    padding: 10px;
    margin: auto;

    #header {
        display: flex;
        text-align: center;
        justify-content: space-around;
        
        .logo{
            max-width:5%;
            max-height:5%;
        }

        .text {
            font-family: $family;
        }
    }

    #sectiona {
        display: flex;
        text-align: center;
        justify-content: space-around;

        .slogan {
            font-size: 20px;
            height: 200cm;
            width: 200cm;
        }

        .banner {
            height: 100px;
            width: 100px;
        }
    }


    #sectionB {
        display: flex;
        text-align: center;
        justify-content: space-around;


        .Vero {
            background-color: #AFADA3;

        }

        .Juliet {
            background-color: #AFADA3;

        }

        .Vivi {
            background-color: #AFADA3;

        }

    }
}